name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    strategy:
      matrix:
        node-version: [18.18.x, 20.x, 22.x]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn --immutable

    - name: Create junit directory
      run: mkdir -p ./junit

    - name: Run tests
      run: yarn test --reporter spec --reporter-option output=./junit/test-results.xml
      env:
        MOCHA_FILE: ./junit/test-results.xml

    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results-node-${{ matrix.node-version }}
        path: ./junit
